#title {
    text-align: center;
    color: #22CAC6;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
}

#score {
    color: #22CAC6;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    margin-left: 30px;
}

body {
    background-color: #18237D;  
}

/* color for the buttons */
#jeopardy-board {
    display: grid;
    grid-template-columns: repeat(6, auto); /* Use 'auto' to make columns adjust to content */
    gap: 10px; /* Adjust the gap to control spacing */
    justify-content: center; /* Center the grid horizontally */
}

.jpButton {
    background-color: #E59728;
    font-size: 2vw;
    padding: 2vw 4vw;
    border-radius: 12px;
    margin: 1vw;
    text-align: center
}

.jpButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

